/* MAIN PAGE STRUCTURE */

html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}


/* NAVBAR AND ITS CONTENT */

.navbar {
    height: 60px;
    color: #e7e5eb;
    display: flex;
    background-color: #1f2737;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    padding: 0 4px;
}

.logo-container {
    display: flex;
    height: 50px;
    flex-grow: 1.1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.logo-container h3 {
    font-size: 20px;
}

.link-main-box {
    display: flex;
    justify-content: space-around;
    height: 50px;
    flex: 3;
}

.space {
    flex-shrink: 1;
}

.link-main-box > div {
    display: flex;
    gap: 40px;
    padding: 0 30px;
    flex-shrink: 0;
}

.link-main-box .links-container a {
    text-decoration: none;
    color: #e7e5eb;
}


/* GLOBAL CONTAINER STYLE */


/* FIRST CONTAINER */

.one {
    height: 100px;
    background-color: #1f2737;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 280px 0 290px 0;
}

.one > div {
    display: flex;
    /* border: 1px solid red; */
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-text {
    max-width: 420px;
    /* border: 1px solid blue; */
    flex: 1 1 auto;
    padding: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    /* border: 1px solid black; */
    margin-top: -7px;
    margin-bottom:-18px;
}

.intro-text p {
    color: #e7e5eb;
}

.intro-text button {
    width: 85px;
    font-weight: 900;
    color:#f9faf8;
    background-color: #3882f6;
    padding: 7px 9px;
    border-radius: 7px;
    border: 1px solid #3882f6;
    margin-top: -5px;
}

.img-container {
    display: flex;
    /* border: 1px solid blue; */
    flex: 0 1 auto;
}

.img-container img {
    max-width: 450px;
    min-width: 400px;
    flex-shrink: 1;
    border-radius:10px;
}


/* SECOND BOX */